{% block title %}{{ 'edit_category_title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'edit_category_title'|trans }}</h1>

    {{ include('category/_form.html.twig', {'button_label': 'update_button'|trans }) }}

    <a href="{{ path('app_category_index') }}">{{ 'back_to_list'|trans }}</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}