{% block title %}{{ 'create_category_title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'create_category_title'|trans }}</h1>

    {{ include('category/_form.html.twig') }}

    <a href="{{ path('app_category_index') }}">{{ 'back_to_list'|trans }}</a>
{% endblock %}