{% extends 'base.html.twig' %}

{% block title %}{{ 'new_review_title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'new_review_heading'|trans }}</h1>

    {{ include('review/_form.html.twig') }}

    <a href="{{ path('app_review_index') }}">{{ 'back_to_list'|trans }}</a>
{% endblock %}