{% extends 'base.html.twig' %}

{% block title %}{{ 'review_title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'review_heading'|trans }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'review_id'|trans }}</th>
            <td>{{ review.id }}</td>
        </tr>
        <tr>
            <th>{{ 'review_content'|trans }}</th>
            <td>{{ review.content }}</td>
        </tr>
        <tr>
            <th>{{ 'review_rating'|trans }}</th>
            <td>{{ review.rating }}</td>
        </tr>
        <tr>
            <th>{{ 'review_created_at'|trans }}</th>
            <td>{{ review.createdAt ? review.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_review_index') }}">{{ 'back_to_list'|trans }}</a>

    <a href="{{ path('app_review_edit', {'id': review.id}) }}">{{ 'edit_button'|trans }}</a>

    {{ include('review/_delete_form.html.twig') }}
{% endblock %}