{% extends 'base.html.twig' %}

{% block title %}{{ 'create_order_title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'create_order_title'|trans }}</h1>

    {{ include('order/_form.html.twig') }}

    <a href="{{ path('app_order_index') }}">{{ 'back_to_list'|trans }}</a>
{% endblock %}